name: run-daily

on:
  schedule:
    - cron: '0 10 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: pull code
      uses: actions/checkout@v3

    - name: install python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: install dependencies
      run: pip install -r requirements.txt

    - name: get data from last day
      run: make run last_days=1
      
    - name: commit and push changes
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add .
        git commit -m "get new data"
        git push